
@{
    ViewBag.Title = "TrabalheConosco";
}

<h1>Venha trabalhar conosco</h1>

<a href="~/Main/Index">Inicio "Minha view index"</a>
<br />
<a href="~/Coisas/FaleConosco">Fale conosco</a>
<br />
<a href="~/QuemSomos">Quem somos</a>