
@{
    ViewBag.Title = "QuemSomos";
}

<h2>Viemos Dominar vcs, Bina ta ai??</h2>

<img src="https://gay.blog.br/wp-content/uploads/2018/02/27654355_1846246602053325_8906197723584340767_n.jpg" />

<a href="~/TrabalheConosco">Trabalhe conosco</a>

