
@{
    ViewBag.Title = "QuemSomos";
}

<h1>Viemos Dominar vcs, Bina ta ai??</h1>

<a href="~/Main/Index">Inicio "Minha view index"</a>
<br />
<a href="~/Coisas/FaleConosco">Fale conosco</a>
<br />
<a href="~/TrabalheConosco">Trabalhe conosco</a>
<br />
<img src="https://gay.blog.br/wp-content/uploads/2018/02/27654355_1846246602053325_8906197723584340767_n.jpg" />