
@{
    ViewBag.Title = "Falando";
}

<h1>Falando</h1>

<p>
    Os link nesta pagina apontam para uma action que está dentro de uma controller,
    essa action possui uma view, a qual é apresentada na tela apos clicar no link
</p>

<a href="~/Main/Index">Inicio "Minha view index"</a>
<br />
<a href="~/QuemSomos">Quem somos</a>
<br />
<a href="~/TrabalheConosco">Trabalhe conosco</a>