
@{
    ViewBag.Title = "Index";
}

<h2>Minha view Index</h2>

<a href="Coisas/FaleConosco">Fale conosco</a>
<br />
<a href="QuemSomos/Index">Quem somos</a>
<br />
<a href="TrabalheConosco/Index">Trabalhe conosco</a>