
@{
    ViewBag.Title = "Index";
}

<h1>Minha view Index</h1>

<p>
    Os link nesta pagina apontam para uma action que está dentro de uma controller,
    essa action possui uma view, a qual é apresentada na tela apos clicar no link
</p>

<a href="~/Coisas/FaleConosco">Fale conosco</a>
<br />
<a href="~/QuemSomos/Index">Quem somos</a>
<br />
<a href="~/TrabalheConosco/Index">Trabalhe conosco</a>