
@{
    ViewBag.Title = "Index";
}

<h2>Minha view Index</h2>

<a href="Coisas/FaleConosco">Fale conosco</a>
<br />
<a href="QuemSomos/Index">Quem somos</a>
<br />
<a href="TrabalheConosco/Index">Trabalhe conosco</a>

<p>Link nesta pagina aponta para uma action que está dentro de uma controller, essa action possui uma view, a qual é apresentada na tela apos clicar no link</p>

<p>url = http://www.meusite.com.br/controller/action.html</p>